



*{
    margin: 0;
    padding: 0;
}


.register {
    width: 400px;
    margin-left: 38%;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
    background: url("../Code/Images/one.png") no-repeat ;
    background-size: cover;
   
}

.register > form input {
    border-radius: 20px;
    border: 2px solid lightgrey;
    outline: none;
    color: #1d2129;
    margin: 2% 0;
    width: 90%;
    padding: 12px;
    font-size: 16px;
}

.head{
    background-image: url("../Code/Images/eleven.png");
    background-repeat: no-repeat;
    padding-top: 20%;
    background-size: cover;
}

.btn2{
margin-left: 93%;
padding-top: 20%;
}

.btn1{
    margin-left: 70%;
    
    }



    